body {
  background-color: gray;
}

div {
  text-align: center;

  color: white;
  font-size: 10px;
}
.cont
{
  width:601px;
  height: 620px;
  margin: 120px auto;
}

#fb {
  background-color: yellow;
  text-align: right;
  width: 300px;
  height: 300px;
float: right;

}

#bjk {
  background-color: black;
  text-align: center;
  width: 300px;
  height: 200px;
  padding-top: 100px;
  float: left;
}

#gs {
  background-color: red;
  text-align: left;
  padding-top: 130px;
  height: 170px;
  width: 300px;
  float: left;
}

#ts {
  background-color: blue;
  text-align: right;
  padding-top:260px;
  height: 40px;
  width: 300px;
  float: right;
}
